.navbar {
  width: 100%;
  position: fixed;
  top: 0;
  background: transparent;
  height: 80px;
  transition: all 0.5s linear;
  z-index: 1000;
  

  &__content {
    display: flex;
    justify-content: space-between;
    height: 80px;
    align-items: center;
    @include responsive(765px){
    flex-direction: row;
    width: 100%;
    align-items: center;
    }
  }

  &__left img {
    width: 100px;
    height: auto;
  }

  &__right{
    display: flex;
    list-style: none;
    @include responsive(765px){
      display: block;
      margin-right:-10px;
      margin-top: 32rem;
      background:#f5cdce;
      width: 20rem;
      text-align: center;
      }

    & li a {
      color: $blanco;
      text-decoration: none;
      font-size: 20px;
      font-weight: $regular;
      padding: 15px 7px;
      margin: 10px 15px;
      @include responsive(765px){
        //min-height: 70rem;
        color: $blanco;
        line-height: 100px;
        border-bottom: 1px solid #f7e5e5;
      }
    }
    
  }
  &__toggle{
     position: fixed;
     top: 28px;
     right: 25px;
     color: $negro;
     display: none;
     @include responsive(765px){
       display: flex;
     }
  }
}


